@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@700;800&display=swap');

* {
	font-family: "Open Sans";
}

body {
	margin: 0;
	padding: 0;
	background-color: rgb(225, 200, 200);
}

header {
	background-color: rgb(220, 60, 60);
	margin: 0;
	padding: 0.5rem;
	outline: black solid 0.2rem;
}

h1 {
	padding: 0;
	margin: 0;
	color: white;
	font-size: 3rem;
	text-align: center;
	font-weight: bolder;
	text-shadow: 0.2rem 0.2rem 0 black;
}

h1 > a {
	color: inherit;
}

a {
	text-decoration: none;
	color: white;
}

a:hover {
	text-decoration: underline;
}

article {
	padding: 0 1rem;
}

div {
	background-color: rgb(220, 60, 60);
	max-width: 40rem;
	margin: 1rem auto;
	padding: 1rem;
	outline: black solid 0.2rem;
	border-radius: 2rem;
	box-shadow: 0.5rem 0.5rem 0 black;
}

h2 {
	color: white;
	font-size: 2rem;
	font-weight: bolder;
	text-shadow: 0.2rem 0.2rem 0 black;
}

p {
	color: black;
	font-weight: bold;
	font-size: 1rem;
}
